body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #222;
  color: white;
}
nav{
  font-size: 1.5rem;
  margin:15px;
}
nav ul{
    margin: 0;
    padding: 0;
    
    display: inline-block;
}
 nav li {
  
  background-color: #333;
  font-family: sans-serif;
  list-style-type: none;
  border-bottom: 3px solid wheat;
  border-top: 3px solid wheat;
  padding: 6px;
  display: inline;
} 

nav a {
  color: white;
  text-decoration: none;
} 

nav a:hover{
  color: #B3CAF5;
}

body img {
	border: 5px solid wheat;
}

.thumb {
  margin: 0px 10px;
  max-height: 100px;
}

.centre {
  margin: 350px;
}

.pageTitle{
  font-family: 'Merriweather', serif;
  color: wheat;
  text-align: center;
}

.pageText{
  width: 90%;
	margin: 0 auto;
  text-align: center;
}

#canvasDiv {
  text-align: center;
}

#canvasDiv canvas{
  border: 5px #B3CAF5 solid;
  margin: 0 auto;
}

#switcher {
	text-align: center;
	margin: 0 auto;
}
#thumbContainer{
  text-align: center;
	margin: 0 auto;
}

#mainImg {
	margin-bottom: 10px;
  max-height: 65vh;
}

