* {
  color: black;
}
h1 {
  font-family: 'Merriweather', serif;
}
body {
  font-size: 16px;
}
.text-large {
  font-size: 150%;
}
#outer {
  width: 80%;
  margin: 0 auto;
}
.centre {
  margin: 350px;
}
nav li {
  list-style-type: none;
  border: 3px solid;
  padding: 6px;
}
body img {
	border: 5px solid #ccc;
}
#switcher {
	width: 80%;
	margin: 0 auto;
}
#mainImg {
	width: 100%;
}
#mainImg img {
	width: 100%;
	margin-bottom: 10px;
}
#thumbContainer {
}
img.thumb {
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 120px;
}
